<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="sidemenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" size-md="5">
        <img
          src="https://i.pinimg.com/originals/3c/80/23/3c8023d7b1f1266a87d262fc2ecbb5ed.gif"
          class="image"
        />
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-list>
          <ion-item>
            <ion-label>
              <h2 class="ion-padding-bottom">About</h2>
              <p class="ion-text-wrap">
                This application is built in Ionic using Angular by myself.
                Fully developed to fulfill Mobile Cross-platform midterm
                project.
              </p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2 class="ion-padding-bottom">Reference</h2>
              <p>Ionic Documentation</p>
              <p>MDN Web Documentation</p>
              <p>Mobile Cross-platform Weekly Modules</p>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <h2 class="ion-padding-bottom">Developer</h2>
              <p class="ion-text-wrap">
                Hi! I'm Carissa Komalasari - 00000019971 (BL). For more info
                please visit my website
                <a href="https://carissacks.github.io/">here.</a>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
