<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" size-md="8">
        <form [formGroup]="editItemForm">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Brand</ion-label>
              <ion-input type="text" formControlName="brand"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Model</ion-label>
              <ion-input type="text" formControlName="model"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Type</ion-label>
              <ion-select disabled="true" selectedText="{{selectedType}}">
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Images</ion-label>
              <ion-input type="text" formControlName="images"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Price</ion-label>
              <ion-input type="number" formControlName="price"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Stock</ion-label>
              <ion-input type="number" formControlName="stock"></ion-input>
            </ion-item>
          </ion-list>
        </form>

        <form *ngIf="selectedType !== 'GPU'" [formGroup]="productDetailForm">
          <ion-label class="ion-text-center"
            ><h2 class="title">Product Detail</h2></ion-label
          >
          <ion-list *ngIf="selectedType==='CPU'; else ram">
            <ion-item>
              <ion-label position="floating">Base Clock</ion-label>
              <ion-input type="number" formControlName="baseClock"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Boost Clock</ion-label>
              <ion-input type="number" formControlName="boostClock"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Core</ion-label>
              <ion-input type="number" formControlName="core"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Thread</ion-label>
              <ion-input type="number" formControlName="thread"></ion-input>
            </ion-item>
          </ion-list>

          <ng-template #ram>
            <ion-list *ngIf="selectedType==='RAM'; else motherboard">
              <ion-item>
                <ion-label position="floating">Speed</ion-label>
                <ion-input type="number" formControlName="speed"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Size</ion-label>
                <ion-input type="number" formControlName="size"></ion-input>
              </ion-item>
            </ion-list>
          </ng-template>

          <ng-template #motherboard>
            <ion-list>
              <ion-item>
                <ion-label position="floating">Chipset</ion-label>
                <ion-input type="string" formControlName="chipset"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Processor</ion-label>
                <ion-input
                  type="string"
                  formControlName="processor"
                ></ion-input>
              </ion-item>
            </ion-list>
          </ng-template>
        </form>
        <ion-button
          type="submit"
          expand="full"
          (click)="onSubmit()"
          [disabled]="editItemForm.invalid || productDetailForm.invalid"
          >Save Item</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
